---
import { seoOptions } from "../utils/seo/seoData";
import { ClientRouter } from "astro:transitions";
import Seo from "../utils/seo/Seo.astro";
import "../styles/global.css";

interface Props {
    page: string;
}
const { page } = Astro.props;
---

<!doctype html>
<html lang={seoOptions.lang}>
    <head>
        <Seo page={page} />
        <title>{`${seoOptions.nameWeb} - ${page}`}</title>
        <ClientRouter />
    </head>
    <body class="grid min-h-screen grid-rows-[auto_1fr_auto]">
        <slot />
    </body>
</html>
